doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="keywords",content="页面出错了")
    meta(name="description",content="由于未知原因造成页面出错")
    link(rel="stylesheet",href="/css/error.css")
    title 页面出错了
  body
    .error
      h1 真尴尬，页面出错了...
      a(href='/') 返回首页
